@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Zen+Tokyo+Zoo&display=swap");
body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 17px;
  color: #646464;
}

.btn {
  text-decoration: none;
  background-color: #37806b;
  padding: 10px 20px;
  border-radius: 15px 0px;
  color: white;
  font-weight: 700;
  font-size: 18px;
  text-transform: uppercase;
  transform: 0.3s;
}
.btn:hover {
  background-color: #caa892;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
li,
button {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  color: #212121;
}

.container {
  max-width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.none {
  display: none !important;
}

.image-line {
  position: relative;
  z-index: 1;
}
.image-line img {
  width: 100%;
  height: 100%;
  border-radius: 140px 0;
}
.image-line:after {
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  left: 20px;
  top: 20px;
  z-index: -1;
  border-radius: 140px 0;
  border: 2px solid #b0855b;
}

.design {
  position: absolute;
  top: -50px;
}
.design img {
  height: 140px;
}

.burger {
  position: absolute;
  right: 55px;
  top: 20px;
}

.menu__btn {
  display: flex;
  align-items: center;
  width: 26px;
  height: 26px;
  cursor: pointer;
  z-index: 1;
}

.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #616161;
}

.menu__btn > span::before {
  content: "";
  top: -8px;
}

.menu__btn > span::after {
  content: "";
  top: 8px;
}

.nav-wrapper {
  position: sticky;
  top: 0;
  background-color: #fff;
  z-index: 555;
}
.nav-wrapper .progressBar {
  height: 8px;
  background: linear-gradient(to right, #ff5f6d, #ffc371);
  width: 0%;
  z-index: 100;
  transition: width 0.2s ease-out;
}

nav {
  padding: 2rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav .nav-container {
  display: flex;
  justify-content: space-between;
}
nav .nav-container #menu__toggle {
  opacity: 0;
}
nav .links ul {
  list-style: none;
  display: flex;
  align-items: center;
}
nav .links ul li {
  margin: 0 35px 0 0;
}
nav .links ul li a {
  color: #111111;
  font-size: 17px;
  text-decoration: none;
  font-weight: 600;
  display: block;
}
nav .links ul li a:hover {
  transition: 0.3s;
  transform: scale(1.2);
  color: #646464;
}
nav .links ul li.signup {
  margin-left: 30px;
  background-color: #CAA892;
  border-radius: 15px 0px;
  transition: 0.3s;
}
nav .links ul li.signup a {
  color: #FFFFFF;
  padding: 10px 20px;
  text-transform: capitalize;
}
nav .links ul li.signup:hover {
  background-color: #37806b;
}

@media screen and (min-width: 360px) and (max-width: 480px) {
  .container {
    margin: 0 2rem;
  }
  nav {
    flex-direction: column;
    align-items: flex-start;
  }
  nav .nav-container {
    width: 100%;
    justify-content: space-between;
    align-items: center;
  }
  nav .nav-container .responsive-toggle {
    display: block;
  }
  nav .nav-toggle {
    height: 4rem !important;
  }
  nav .nav-toggle ul {
    margin-top: 1rem;
    display: flex !important;
  }
  nav .links {
    height: 0;
    transition: 0.4s ease-in-out;
  }
  nav .links ul {
    display: none;
    flex-direction: column;
  }
}
@media screen and (min-width: 481px) and (max-width: 768px) {
  .container {
    margin: 0 4rem;
  }
  nav {
    flex-direction: column;
    align-items: flex-start;
  }
  nav .nav-container {
    width: 100%;
    justify-content: space-between;
    align-items: center;
  }
  nav .nav-container .responsive-toggle {
    display: block;
  }
  nav .nav-toggle {
    height: 8rem !important;
  }
  nav .nav-toggle ul {
    display: flex !important;
  }
  nav .links {
    height: 0;
    transition: 0.4s ease-in-out;
  }
  nav .links ul {
    flex-direction: column;
    display: none;
  }
  nav .links ul li {
    margin: 0.5rem 0;
  }
}
@media screen and (min-width: 769px) {
  nav .nav-container #menu__toggle {
    display: none;
  }
  .menu__btn {
    display: none;
  }
}
@media screen and (min-width: 769px) and (max-width: 1024px) {
  nav .links ul li {
    margin: 0 30px 0 0;
  }
  nav .links ul li a {
    font-size: 13px;
  }
}
.start {
  padding: 70px 0;
}
.start .container .start-wrapper {
  display: flex;
}
.start .container .start-wrapper .content {
  max-width: 600px;
  width: 100%;
  padding-right: 17px;
  margin-top: 42px;
}
.start .container .start-wrapper .content .subTitle {
  font-size: 20px;
  text-transform: uppercase;
  color: #646464;
  font-weight: 600;
  line-height: 27%;
}
.start .container .start-wrapper .content .title {
  font-size: 72px;
  text-transform: capitalize;
  font-family: "Popins";
  font-weight: 600;
  line-height: 78px;
  color: #212121;
  max-width: 580px;
}
.start .container .start-wrapper .content .description p {
  font-size: 18px;
  font-weight: 400;
  color: #646464;
}
.start .container .start-wrapper .content .last {
  margin-top: 50px;
}
.start .container .start-wrapper .image {
  position: relative;
  z-index: 1;
}
.start .container .start-wrapper .image img {
  width: 100%;
  height: 100%;
  border-radius: 140px 0;
}
.start .container .start-wrapper .image:after {
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  left: 20px;
  top: 20px;
  z-index: -1;
  border-radius: 140px 0;
  border: 2px solid #b0855b;
}

@media screen and (min-width: 360px) and (max-width: 480px) {
  .start {
    flex-direction: column;
  }
  .start .image img {
    height: 15rem;
    margin-top: 4rem;
    display: block;
  }
}
@media screen and (min-width: 481px) and (max-width: 768px) {
  .start-wrapper {
    flex-direction: column;
  }
  .start-wrapper .image img {
    height: 40rem;
    margin-top: 4rem;
    display: none;
  }
  .start-wrapper .content .title {
    font-size: 35px;
    line-height: 42px;
  }
}
@media screen and (min-width: 769px) and (max-width: 1024px) {
  .start {
    flex-direction: column;
  }
  .start-wrapper .image {
    display: none;
  }
}
.service {
  padding: 100px 0;
}
.service .container .row .service-title .service-title-heading h3 {
  color: #646464;
  font-family: "Popins";
  text-transform: uppercase;
  font-weight: 600;
  font-size: 20px;
}
.service .container .row .service-title .service-title-heading h4 {
  font-family: "Popins";
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  line-height: 78px;
  color: #212121;
}
.service .container .service-card {
  max-width: 477.23px;
}
.service .container .service-card .service-card-sin {
  display: flex;
  background: #ffffff;
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.14);
  border-radius: 60px 0px;
  padding: 40px 20px 40px 35px;
}
.service .container .service-card .service-card-sin .card-text h3 {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  color: #212121;
}
.service .container .service-card .service-card-sin .card-text p {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: -0.01em;
  color: #646464;
}

.about-area {
  margin-top: 150px;
}
.about-area .container .about-row {
  display: flex;
}
.about-area .container .about-row .about-col1 .image-line:before {
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  right: 20px;
  bottom: 20px;
  z-index: -1;
  border-radius: 140px 0;
  border: 2px solid #b0855b;
}
.about-area .container .about-row .about-col1 .image-line:after {
  display: none;
}
.about-area .container .about-row .about-col2 {
  max-width: 503px;
  padding: 20px 20px;
  margin-left: 74px;
}
.about-area .container .about-row .about-col2 .about-text .section-heading h4 {
  font-family: "Poppins";
  font-size: 20px;
  font-weight: 500;
  color: #646464;
  margin-bottom: 61px;
}
.about-area .container .about-row .about-col2 .about-text .section-heading h3 {
  color: #212121;
  font-family: "Poppins";
  font-size: 48px;
  font-weight: 500px;
  line-height: 57px;
}
.about-area .container .about-row .about-col2 .about-text .section-heading p {
  color: #646464;
  font-family: "Open Sans";
  font-weight: 400;
  line-height: 30px;
}

.success {
  padding: 70px 0;
}
.success .container .start-wrapper {
  display: flex;
}
.success .container .start-wrapper .content {
  max-width: 641px;
  width: 100%;
  padding-right: 17px;
  margin-top: 42px;
}
.success .container .start-wrapper .content .subTitle {
  font-size: 20px;
  text-transform: uppercase;
  color: #646464;
  font-weight: 600;
  line-height: 27%;
}
.success .container .start-wrapper .content .title {
  font-size: 50px;
  text-transform: capitalize;
  font-family: "Popins";
  font-weight: 500;
  line-height: 65px;
  color: #212121;
  max-width: 580px;
}
.success .container .start-wrapper .content .last {
  margin-top: 35px;
}
.success .container .start-wrapper .content .desing-text h4 {
  font-family: "Open Sans";
  font-size: 288px;
  font-weight: 700;
  background-image: url(../img/james-lindsay-kVBzVaVa7Q0-unsplash\ 1.png);
  -webkit-background-clip: text;
  color: transparent;
  background-size: contain;
}
.success .container .start-wrapper .image {
  position: relative;
  z-index: 1;
}
.success .container .start-wrapper .image img {
  width: 100%;
  height: 100%;
  border-radius: 140px 0;
}
.success .container .start-wrapper .image:after {
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  left: 20px;
  top: 20px;
  z-index: -1;
  border-radius: 140px 0;
  border: 2px solid #b0855b;
}

.work {
  padding: 100px 0;
  background-color: #f8f8f8;
}
.work .container .work-row1 .work-col .work-heading {
  text-align: center;
}
.work .container .work-row2 {
  margin-top: 100px;
  display: flex;
}
.work .container .work-row2 .col .single-work {
  display: flex;
  justify-content: center;
}
.work .container .work-row2 .col .single-work .single-work-text {
  background: #ffffff;
  box-shadow: 0px 13px 16px rgba(0, 0, 0, 0.1);
  border-radius: 40px 0px;
  width: 200px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  z-index: 1;
}
.work .container .work-row2 .col .single-work .single-work-text:after {
  position: absolute;
  content: "";
  height: 100px;
  width: 45px;
  border-top: 2px solid #E0E0E0;
  border-right: 2px solid #E0E0E0;
  z-index: -1;
  right: -45px;
  top: 100px;
}
.work .container .work-row2 .col .single-work .single-work-text h3 {
  color: #212121;
  font-size: 50px;
}
.work .container .work-row2 .col .single-work .single-work-text span {
  color: #646464;
}
.work .container .work-row2 .col .single-work .special {
  margin-top: 100px;
  background: #ffffff;
  box-shadow: 0px 13px 16px rgba(0, 0, 0, 0.1);
  border-radius: 40px 0px;
  width: 200px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  z-index: 1;
}
.work .container .work-row2 .col .single-work .special:after {
  position: absolute;
  content: "";
  height: 100px;
  width: 41px;
  border-top: 2px solid #E0E0E0;
  border-right: 2px solid #E0E0E0;
  z-index: -1;
  left: -41px;
  top: 100px;
  border-right: 0;
}
.work .container .work-row2 .col .single-work-two .single-work-text {
  background: #ffffff;
  box-shadow: 0px 13px 16px rgba(0, 0, 0, 0.1);
  border-radius: 40px 0px;
  width: 200px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  z-index: 1;
}
.work .container .work-row2 .col .single-work-two .single-work-text:before {
  position: absolute;
  content: "";
  height: 100px;
  width: 45px;
  border-top: 2px solid #E0E0E0;
  z-index: -1;
  right: -45px;
  top: 100px;
}
.work .container .work-row2 .col .single-work-three .single-work-text {
  background: #ffffff;
  box-shadow: 0px 13px 16px rgba(0, 0, 0, 0.1);
  border-radius: 40px 0px;
  width: 200px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  z-index: 1;
}
.work .container .work-row2 .col .single-work-three .single-work-text:before {
  position: absolute;
  content: "";
  height: 100px;
  width: 45px;
  border-left: 2px solid #E0E0E0;
  border-top: 2px solid #E0E0E0;
  z-index: -1;
  left: -45px;
  top: 100px;
}

.registration .container .row .col .registration-text h3 {
  color: #212121;
  font-family: "Poppins";
  font-weight: 500;
  font-size: 48px;
  margin-bottom: 22px;
  padding-bottom: 22px;
  position: relative;
}
.registration .container .row .col .registration-text h3::after {
  position: absolute;
  content: "";
  height: 2px;
  width: 400px;
  background-color: #c4c4c4;
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%);
}
.registration .container .row .col .registration-text p {
  color: #646464;
  font-weight: 400px;
  line-height: 28px;
  text-align: center;
}
.registration .container .row .col .registration-text .form {
  margin-top: 61px;
  width: 100%;
}
.registration .container .row .col .registration-text .form .top-btn {
  display: flex;
  justify-content: space-evenly;
}
.registration .container .row .col .registration-text .form .top-btn .input-wrapper {
  width: 380px;
  position: relative;
}
.registration .container .row .col .registration-text .form .top-btn .input-wrapper input {
  width: 100%;
}
.registration .container .row .col .registration-text .form .sub-btn {
  margin-top: 39px;
  margin-bottom: 30px;
}
.registration .container .row .col .registration-text .form .sub-btn input {
  width: 913px;
}
.registration .container .row .col .registration-text .form label {
  margin-top: 10px;
}
.registration .container .row .col .registration-text .form input {
  margin-bottom: 20px;
  padding: 10px 15px;
  font-size: 20px;
  border: none;
  background-color: #eeeeee;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  border-radius: 20px 0px;
}

.field-error {
  text-align: left;
  font-size: 12px;
  color: red;
  text-transform: initial;
  line-height: 14px;
  position: absolute;
}
.field-error:first-letter {
  text-transform: uppercase;
}

.discount-modal {
  box-sizing: border-box;
  text-align: center;
  visibility: hidden;
  opacity: 0;
  padding: 50px;
  border-radius: 25px;
  width: 350px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #dddddd;
  z-index: 555;
  transition: 1s;
}
.discount-modal.active {
  opacity: 1;
  visibility: visible;
  transition: 1s;
}

footer {
  margin: 6rem 0;
  position: relative;
}
footer .footer-wrapper {
  padding: 80px 0;
  display: grid;
  max-width: 1920px;
  width: 100%;
  grid-template-columns: repeat(5, 1fr);
  background-color: #f8f8f8;
}
footer .footer-wrapper .brand .logo {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 66px;
}
footer .footer-wrapper .brand .logo img {
  margin-bottom: 20px;
}
footer .footer-wrapper .brand .subTitle {
  width: 80%;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 124.5%;
  color: #5e6282;
}
footer .footer-wrapper .content .title {
  text-transform: capitalize;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 21px;
  line-height: 40px;
  color: #212121;
}
footer .footer-wrapper .content ul {
  list-style-type: none;
}
footer .footer-wrapper .content ul li {
  margin: 1rem 0;
}
footer .footer-wrapper .content ul li a {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  color: #646464;
  text-decoration: none;
}
footer .footer-wrapper .content ul li a:hover {
  color: #37806b;
  transition: 0.3s;
}
footer .footer-wrapper .social {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
footer .footer-wrapper .social .links {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1.4rem;
}
footer .footer-wrapper .social .links .link {
  justify-content: center;
}
footer .footer-wrapper .social .links .link a {
  display: flex;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #d5d5d5;
  align-items: center;
  color: #fff;
}
footer .footer-wrapper .social .links .link a img:hover {
  transition: 0.3s;
  background-color: #37806b;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
footer .footer-wrapper .social .app {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
footer .footer-wrapper .social .app .title {
  margin-bottom: 0.7rem;
  font-weight: 500;
}
footer .footer-wrapper .social .app .links {
  display: flex;
  gap: 1rem;
}
footer .footer-wrapper .social .app .links img {
  border-radius: 17.5px;
}
footer .footer-bottom {
  border-top: 1px solid #c4c4c4;
}
footer .footer-bottom .fotter-botoom-text {
  padding: 4px 0;
}
footer .footer-bottom .fotter-botoom-text a {
  text-decoration: none;
  color: #37806b;
}

@media screen and (min-width: 360px) and (max-width: 480px) {
  footer .footer-wrapper {
    grid-template-columns: 1fr;
    gap: 2rem;
    max-width: 1024px;
    margin-left: auto;
    margin-right: auto;
  }
  footer span {
    font-size: 1rem;
  }
}
@media screen and (min-width: 481px) and (max-width: 768px) {
  footer {
    font-size: 1.3rem;
  }
  footer .footer-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  footer span {
    font-size: 2rem;
  }
  .container .subscribe .contact input {
    width: 100%;
    margin: 0;
    margin-bottom: 1rem;
  }
  footer .footer-wrapper .brand .logo {
    text-align: center;
  }
  footer .footer-wrapper .brand .subTitle {
    width: 100%;
    margin-bottom: 25px;
  }
  .content {
    text-align: center;
    margin-bottom: 15px;
  }
}
@media screen and (min-width: 769px) and (max-width: 1024px) {
  footer .footer-wrapper .brand .logo {
    font-size: 29px;
  }
  footer .footer-wrapper .content .title {
    font-size: 17px;
  }
  footer .footer-wrapper .content ul li a {
    font-size: 15px;
    line-height: 15px;
  }
}
.testimonials .slick-arrow {
  border-radius: 50%;
  right: 0;
  top: 0;
  left: unset;
}
.testimonials .slick-arrow::before {
  display: none;
}
.testimonials .slick-prev {
  right: 75px;
  position: absolute;
  width: 30px;
  height: 29px;
  box-shadow: -1px 3px 10px rgba(0, 0, 0, 0.3);
  background-image: url("../img/Vector 1.svg");
  background-position: center;
  background-repeat: no-repeat;
}
.testimonials .slick-prev:hover {
  background-color: #37806b;
}
.testimonials .slick-next {
  top: -10px;
  position: absolute;
  width: 30px;
  height: 29px;
  box-shadow: -1px 3px 10px rgba(0, 0, 0, 0.3);
  background-image: url("../img/Vector 1.svg");
  background-position: center;
  background-repeat: no-repeat;
  transform: rotate(180deg);
}
.testimonials .slick-next:hover {
  background-color: #37806b;
}
.testimonials .title {
  text-align: center;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: #646464;
}
.testimonials .subtitle {
  text-align: center;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  line-height: 72px;
  color: #212121;
  margin-bottom: 100px;
}
.testimonials .tile-wrapper {
  padding-left: 50px;
  padding: 20px;
}
.testimonials .tile {
  display: flex;
  margin: 0 30px;
  padding: 41px 38px;
  box-shadow: 7px 7px 30px 5px rgba(66, 96, 84, 0.15);
  border-radius: 70px 0px;
  position: relative;
}
.testimonials .tile .text-content {
  padding-left: 80px;
}
.testimonials .tile .avatar {
  position: absolute;
  border-radius: 35px 0px;
  left: -50px;
}
.testimonials .tile:after {
  content: "”";
  position: absolute;
  top: 0;
  right: 0;
  font-family: "Basic Sans SF";
  font-style: normal;
  font-weight: 700;
  font-size: 96px;
  color: #b0855b;
}
.testimonials .tile .text-content .name {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 33px;
  color: #646464;
}
.testimonials .tile .text-content .name b {
  color: #212121;
}
.testimonials .tile .text-content .description {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: #646464;
}

.latest-news {
  padding: 80px 0;
}
.latest-news .title {
  text-align: center;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: #646464;
}
.latest-news .subtitle {
  text-align: center;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  line-height: 72px;
  color: #212121;
  margin-bottom: 100px;
}
.latest-news .tile-wrapper {
  display: flex;
  justify-content: space-between;
}
.latest-news .tile-wrapper .tile-col {
  max-width: 550px;
}
.latest-news .tile-wrapper .tile-col img {
  border-radius: 100px 0px;
  margin-bottom: 60px;
}
.latest-news .tile-wrapper .tile-col .tile-col_text {
  margin-bottom: 45px;
}
.latest-news .tile-wrapper .tile-col span {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 28px;
  color: #212121;
}
.latest-news .tile-wrapper .tile-col p {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: #646464;
}
.latest-news .tile-wrapper .tile-col button {
  padding: 10px;
  border: 0px;
  background: #37806b;
  border-radius: 25px 0px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  color: #FFFFFF;
}
.latest-news .tile-wrapper .tile-col button:hover {
  background: #CAA892;
}

.what-we-do .title {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: #646464;
}
.what-we-do .subtitle {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  line-height: 72px;
  color: #212121;
  margin-bottom: 100px;
}
.what-we-do .filter {
  margin-bottom: 100px;
  display: flex;
}
.what-we-do .filter .filter_button {
  min-width: 206px;
  margin-right: 60px;
  background: #37806B;
  border-radius: 20px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  padding: 9px 20px;
  border: 0;
  color: #FFFFFF;
}
.what-we-do .filter .filter_button.filter_button__active {
  color: #37806B;
  background-color: white;
  border: 5px solid #37806B;
}
.what-we-do .tile_list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.what-we-do .tile_list .tile {
  align-items: self-start;
  margin-bottom: 35px;
  display: flex;
  flex: none;
  width: 30%;
  padding: 20px 20px 20px 50px;
  background: #FFFFFF;
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.14);
  border-radius: 60px 0px;
}
.what-we-do .tile_list .tile:hover {
  background-color: #CAA892;
}
.what-we-do .tile_list .tile:hover .tile_content span {
  color: #FFFFFF;
}
.what-we-do .tile_list .tile:hover .tile_content p {
  color: #FFFFFF;
}
.what-we-do .tile_list .tile img {
  width: 46px;
}
.what-we-do .tile_list .tile .tile_content {
  margin-left: 25px;
}
.what-we-do .tile_list .tile .tile_content span {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  color: #212121;
}
.what-we-do .tile_list .tile .tile_content p {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  /* or 156% */
  display: block;
  letter-spacing: -0.01em;
  width: 100%;
  max-height: 4rem;
  color: #646464;
  overflow: hidden !important;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

/*# sourceMappingURL=style.css.map */
