.service {
  padding: 100px 0;
  .container {
    .row {
      .service-title {
        .service-title-heading {
          h3 {
            color: #646464;
            font-family: "Popins";
            text-transform: uppercase;
            font-weight: 600;
            font-size: 20px;
          }
          h4 {
            font-family: "Popins";
            font-style: normal;
            font-weight: 500;
            font-size: 48px;
            line-height: 78px;
            color: #212121;
          }
        }
      }
    }
    .service-card {
      max-width: 477.23px;

      .service-card-sin {
        display: flex;
        background: #ffffff;
        box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.14);
        border-radius: 60px 0px;
        padding: 40px 20px 40px 35px;

        .card-text {
          h3 {
            font-family: 'Open Sans';
            font-style: normal;
            font-weight: 700;
            font-size: 24px;

            color: #212121
          }
          p {
            font-family: 'Open Sans';
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            line-height: 28px;
            letter-spacing: -0.01em;
            color: #646464;
          }
        }
      }
    }
  }
}
